# Ignore Python cache files
__pycache__/
*.pyc
*.ini

# Ignore all desktop.ini files in any folder
**/*.ini

# Ignore virtual environments
venv/
env/

# Ignore specific files
*.log
*.tmp

# Ignore all files in specific folders
/.git
/Aropha.egg-info
/dist
/build